*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 80vw;
    width: 80vw;
    margin: auto;
}

.grid__layout {
    width: 80%;
    height: 80%;
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    margin: 3rem auto;
}

.cell-unit {
    background-color: orange;
}

.new-color {
    background-color: white;
}