*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.header__title {
    margin-top: 1rem;
}

.header__button {
    margin-top: 1rem;
}

.grid {
    height: 80vw;
    width: 80vw;
    margin: auto;
}

.grid__layout {
    width: 80%;
    height: 80%;
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    margin: 3rem auto;
}

.cell-unit {
    background-color: rgb(255, 166, 0);
}

.new-color {
    background-color: white;
}