*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 90vw;
    height: 90vh;
    margin: auto;
}

.grid__layout {
    width: 90%;
    height: 90%;
    display: grid;
}